.works {
  background: #243447;
  color: white;
  padding: 5% 0;
  .works-title {
    padding: 7px;
    margin: 5px 0;
  }
  .works-title:nth-child(odd) {
    background-color: #4acfac;
  }
  h3 {
    font-size: 2rem;
    background-color: #c71f5c;
    width: 15%;
    padding: 7px;
  }
}

.works-text-container {
  height: 35vh;
}

.works-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% 7%;
}

.works-flex-row {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-bottom: 15vh;
}

.works-img {
  width: 35vw;
  max-height: 35vh;
  object-fit: cover;
  object-position: top;
}

.works-description {
  margin-top: 3vh;
  width: 85%;
}

.works-technologies {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #8892b0;
  margin: 5vh 0;
  width: 83%;
}

.works-technologies a {
  color: white;
}

.github-link {
  background-color: #4acfac;
  padding: 5px;
}

.demo-link {
  background-color: #c71f5c;
  padding: 5px;
}

.works-links {
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  .section-title {
    h3 {
      width: 40vw;
    }
  }
  .works-flex-row {
    flex-direction: column;
  }
  .works-flex-row img {
    width: 100%;
    border-radius: 5px;
  }
  .works-text-container {
    .works-title {
      width: 100%;
      font-size: 20px;
    }
  }
  .works-technologies {
    flex-direction: column;
    .github-demo-links {
      margin: 2vh 0;
      a {
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
}
