* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background: #0f1824;
}

.logo {
  color: white;
  font-size: 1.85rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: default;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: white;
  font-size: 1.35rem;
  color: #c71f5c;
}

nav a:hover {
  color: white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  height: 3px;
  width: 20px;
  background-color: white;
  margin: 5px;
}

main {
  background: #243447;
  min-height: 90vh;
}

.main-content-container {
  padding: 10vh 7%;
  width: 75%;
}

.main-intro {
  font-size: 1.4rem;
  color: #c71f5c;
}
.main-name,
.main-saying,
.main-description {
  margin-top: 5vh;
}

.main-name {
  font-size: 4rem;
  color: white;
}

.main-saying {
  font-size: 2.76rem;
  color: #8892b0;
}

.main-description {
  color: #8892b0;
  font-size: 1.35rem;
  margin: 5vh 0;
}

section {
  background: #0f1824;
  color: white;
  min-height: 100vh;
}

.section-title {
  font-size: 2rem;
  padding: 5%;
}

section p {
  font-size: 1.4rem;
  margin-top: 3vh;
}

.about-flex-content {
  display: flex;
  flex-direction: row;
  padding: 0% 5%;
}

.about-text-container {
  width: 50vw;
}

.technology-list {
  margin-top: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 40%;
}
.about-technologies {
  display: flex;
  justify-content: space-around;
}
.about-technologies img {
  margin-right: 20px;
}

.profile-pic {
  width: 25vw;
  height: 60vh;
  display: grid;
  margin: 0 auto;
  border-radius: 10px;
}

.works {
  background: #243447;
  color: white;
}

.works-text-container {
  height: 35vh;
}

.works-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2% 5%;
}

.works-flex-row {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-bottom: 15vh;
}

.works-img {
  width: 35vw;
}

.works-description {
  margin-top: 3vh;
  width: 85%;
}

.works-technologies {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #8892b0;
  margin: 5vh 0;
  width: 83%;
}

.works-technologies a {
  color: #c71f5c;
}

.works-technologies a:hover {
  color: white;
}

.works-links {
  margin-left: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-color: #0f1824;
  color: white;
  padding: 5% 0;
  height: 30vh;
}

footer p {
  margin: 3vh 0;
}

footer a {
  color: #c71f5c;
}

footer .contact-links {
  width: 13vw;
  display: flex;
  justify-content: space-around;
}

footer a:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  .App {
    overflow-x: hidden;
    position: relative;
  }
  .nav-links {
    position: absolute;
    height: 92vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    background: #0f1824;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .main-name {
    font-size: 3rem;
  }
  .main-saying {
    font-size: 2rem;
  }
  .section-title {
    padding: 10% 5%;
  }
  .about-flex-content {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .about-text-container {
    width: 100%;
  }
  .profile-pic {
    width: 65vw;
    height: 50vh;
    margin-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 5px;
  }

  .works-flex-row {
    flex-direction: column;
  }
  .works-flex-row img {
    width: 100%;
    border-radius: 5px;
  }

  footer {
    padding: 10vh 0;
  }
  footer .contact-links {
    width: 40vw;
  }
}
